<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script>
        window.firebaseConfig = {{ firebase_config | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='firebase-init.js') }}"></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</head>
<body>
    <div class="login">
        <div class="wrap">
            <div class="user">
                <div class="logo">
                    <a href="#"><img src="http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/logo.png" alt="Logo"></a>
                </div>
                <div id="toggle-wrap">
                    <div id="toggle-terms">
                        <div id="cross">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="terms">
                    <h2>Terms of Service</h2>
                    <!-- More terms content here -->
                </div>
                <div class="recovery">
                    <h2>비밀번호 재설정</h2>
                    <form class="recovery-form" action="" method="post">
                        <input type="text" class="input" id="user_recover" placeholder="Enter Email Here">
                        <input type="button" class="button" id="reset-password-btn" value="Submit">
                    </form>
                    <p class="mssg">An email has been sent to you with further instructions.</p>
                </div>
                <div class="form-wrap">
                    <div class="tabs">
                        <h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span>Login</span></a></h3>
                        <h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content"><span>Sign Up</span></a></h3>
                    </div>
                    <div class="tabs-content">
                        <div id="login-tab-content" class="active">
                            <form class="login-form">
                                <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email or Username">
                                <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
                                <input type="checkbox" class="checkbox" checked id="remember_me">
                                <label for="remember_me">로그인 정보 기억하기</label>
                                <input type="button" class="button" id="login-btn" value="Login">
                            </form>
                            <div class="help-action">
                                <p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="forgot" href="#">비밀번호 찾기</a></p>
                            </div>
                        </div>
                        <div id="signup-tab-content">
                            <form class="signup-form" action="" method="post">
                                <input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email">
                                <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username">
                                <input type="password" class="input" id="user_pass_signup" autocomplete="off" placeholder="Password">
                                <input type="button" class="button" id="signup-btn" value="Sign Up">
                            </form>
                            <div class="help-action">
                                <p>By signing up, you agree to our</p>
                                <p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="agree" href="#">Terms of service</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
